<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<div class="container">
    <form role="form" action="/members/new" th:object="${memberForm}"
          method="post">
        <div class="form-floating mt-3">
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름"
                   th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'" required>
            <p th:if="${#fields.hasErrors('name')}"
               th:errors="*{name}">Incorrect date</p>
            <label th:for="*{name}">이름</label>
        </div>

        <div class="form-floating mt-3">
            <input type="number" id="age" name="age" class="form-control" min="0" max="200" placeholder="나이" required>
            <label for="age">나이</label>
        </div>

        <div class="form-group mt-3">
            <div>성별</div>
            <div th:each="type : ${genderTypes}" class="form-check form-check-inline">
                <input type="radio" th:field="*{gender}" th:value="${type.name()}" class="form-check-input" required>
                <label th:for="${#ids.prev('gender')}" th:text="${type.description}" class="form-check-label">
                    성별
                </label>
            </div>
        </div>
        <div class="form-group mt-3">
            <label th:for="group">조이름</label>
            <select name="groupId" id="group" class="form-select" required>
                <option value="">조 선택</option>
                <option th:each="group : ${groups}"
                        th:value="${group.id}"
                        th:text="${group.group_name}" />
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">저장</button>
    </form>
    <br/>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->
</body>
</html>