<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<div class="container">
    <form role="form" th:object="${memberForm}" method="post">
        <div class="form-group mt-3">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" class="form-control"
                   placeholder="이름을 입력하세요"
                   th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('name')}"
               th:errors="*{name}">Incorrect date</p>
        </div>
        <div class="form-group mt-3">
            <label th:for="age">나이</label>
            <input type="number" th:field="*{age}" class="form-control"
                   placeholder="나이를 입력하세요">
        </div>
        <div class="form-group mt-3">
            <div>성별</div>
            <div th:each="type : ${genderTypes}" class="form-check form-check-inline">
                <input type="radio" th:field="*{gender}" th:value="${type.name()}" class="form-check-input" th:checked="*{gender}">
                <label th:for="${#ids.prev('gender')}" th:text="${type.description}" class="form-check-label">
                    성별
                </label>
            </div>
        </div>
        <div class="form-group">
            <label th:for="group">조이름</label>
            <select name="groupId" id="group" class="form-control">
                <option value="">조 선택</option>
                <option th:each="group : ${groups}"
                        th:value="${group.id}"
                        th:text="${group.group_name}"
                        th:selected="${group.id} == *{group.id}"/>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">저장</button>
    </form>
    <br/>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->
</body>
</html>