<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/header :: header}"></head>
</head>
<body>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<div id="layoutSidenav">
    <div th:replace="~{fragments/sideNav :: sideNav}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <!-- Contents -->

                <h1 class="mt-4">회원 목록</h1>

                <div class="d-flex flex-row">
                    <a href="/members/new" class="btn btn-primary p-2 mb-4 mt-3" style="height: fit-content"><i class="bi bi-person-plus me-1"></i>회원 추가</a>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        회원 목록
                    </div>

                    <div class="card-body text-center">
                        <table id="dataTables">
                            <thead>
                            <tr>
                                <th>이름</th>
                                <th>나이</th>
                                <th>성별</th>
                                <th>조이름</th>
                                <th>출석일수</th>
                                <th>출석률</th>
                                <th data-sortable="false">관리</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>이름</th>
                                <th>나이</th>
                                <th>성별</th>
                                <th>조이름</th>
                                <th>출석일수</th>
                                <th>출석률</th>
                                <th>관리</th>
                            </tr>
                            </tfoot>
                            <!--여기에 회원 리스트를 표시 -->
                            <tbody>
                            <tr th:each="memberList :${memberListDTO}">
                                <td th:text="${memberList.member.name}">이름</td>
                                <td th:text="${memberList.member.age}">나이</td>
                                <td th:text="${memberList.member.gender.description}">성별</td>
                                <td th:text="${memberList.member.group.group_name}">조이름</td>
                                <td th:text="${memberList.noa}">출석일수</td>
                                <td><span th:text="${memberList.attendanceRate}"></span>%</td>
                                <td>

                                    <!--수정, 삭제 드롭다운 버튼-->
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle text-black" data-bs-toggle="dropdown"
                                           aria-expanded="false"><i class="bi bi-three-dots"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item"
                                                   th:href="@{/members/{memberId}/edit (memberId=${memberList.member.id})}">
                                                수정</a>
                                            </li>
                                            <li><a class="dropdown-item" data-bs-toggle="modal"
                                                   href="/#"
                                                   data-bs-target="#deleteModal"
                                                   th:onclick="'javascript:setId(' + ${memberList.member.id} + ')'">
                                                삭제</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="deleteModal" tabindex="-1"
                                         aria-labelledby="deleteModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="deleteModalLabel">회원 삭제</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    해당 회원을 삭제하시겠습니까?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">닫기
                                                    </button>
                                                    <button type="button" class="btn btn-outline-danger"
                                                            th:onclick="'javascript:deleteMember()'">삭제
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Contents -->
            </div>
        </main>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
</div>

<script>
    //전역변수로 설정하고 삭제 버튼 클릭시 여기에 setID 함수를 이용하여 저장. 토글창의 삭제 버튼에선 id 값이 정상적으로 출력이 안됨으로 이렇게 변수에 값을 저장하여 사용.
    let memberId = 0;

    function test() {
        alert(memberId);
    }

    function setId(id) {
        memberId = id;
    }

    function deleteMember() {
        let form = document.createElement('form');
        form.setAttribute("method", "post");
        form.setAttribute("action", "/members/" + memberId + "/delete");
        document.body.appendChild(form);
        form.submit();
    }
</script>

</body>
</html>