<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/header :: header}"></head>
</head>
<body>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>이름</th>
            <th>나이</th>
            <th>성별</th>
            <th>조이름</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="list :${members}">
            <td th:text="${list.name}">이름</td>
            <td th:text="${list.age}">나이</td>
            <td th:text="${list.gender.description}">성별</td>
            <td th:text="${list.group.group_name}">조이름</td>
        </tr>
        </tbody>
    </table>
    <br/>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->
</body>
</html>