.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#mainNavbar {
    font-size: 2rem;
    font-weight: 100;
    background-color: #bde0fe;
    font-family: 'Nanum Gothic', sans-serif;
    
}

#mainNavbar .nav-link {
    color: rgb(106, 84, 84);
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #25282F;
    font-size: 2rem;
}
