<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<div class="container">
    <form role="form" th:object="${groupForm}"
          method="post">
        <div class="form-group mt-3">
            <label th:for="name" class="form-label">조이름</label>
            <input type="text" th:field="*{name}" class="form-control"
                   placeholder="조이름을 입력하세요"
                   th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('name')}"
               th:errors="*{name}">Incorrect date</p>
        </div>
        <button type="submit" class="btn btn-primary mt-3">저장</button>
    </form>
    <br/>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->
</body>
</html>