<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>

<body>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<div id="layoutSidenav">
    <div th:replace="~{fragments/sideNav :: sideNav}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <!-- Contents -->
                <!--여기에 출석 리스트를 표시 -->
                <section>

                    <table class="table table-hover text-center">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>조 이름</th>
                            <th>관리</th>
                        </tr>
                        </thead>
                        <th:block th:each="group :${groups}">
                            <tbody>
                            <tr>
                                <td th:text="${group.id}">ID</td>
                                <td th:text="${group.group_name}">조 이름</td>
                                <td>
                                    <a class="btn btn-primary" href="#" th:href="@{/groups/{groupId}/edit (groupId=${group.id})}" role="button">수정</a>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" th:onclick="'javascript:setId(' + ${group.id} + ')'">
                                        삭제
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="deleteModalLabel">조 삭제</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    해당 조를 삭제하시겠습니까?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                                    <button type="button" class="btn btn-outline-danger" th:onclick="'javascript:deleteGroup()'">삭제</button>
                                                    <!--                                        'javascript:test(\'' + ${group.id} + '\')'-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </th:block>
                    </table>
                </section>
                <!-- Contents -->
            </div>
        </main>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
</div>

<script>
    // document.querySelector("#delete-button").onclick = function () {
    //     let test = /*[[${group}]]*/ 'test';
    //     alert(test);
    // };

    //전역변수로 설정하고 삭제 버튼 클릭시 여기에 setID 함수를 이용하여 저장. 토글창의 삭제 버튼에선 id 값이 정상적으로 출력이 안됨으로 이렇게 변수에 값을 저장하여 사용.
    let groupId = 0;
    function test() {
        alert(groupId);
    }

    function setId(id) {
        groupId = id;
    }

    function deleteGroup() {
        let form = document.createElement('form');
        form.setAttribute("method", "post");
        form.setAttribute("action", "/groups/" + groupId + "/delete");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</body>
</html>