<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-md bg-light py-3 fixed-top" th:fragment="nav">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">여호수아 출석체크</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">

            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">JOSHUA ACS</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/attendances">출석체크</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/attendances/status">출석현황</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/members">회원명단</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/minutes">회의록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/#">게시판</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="javascript:void(0)" onclick="logout()">로그아웃</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>

</html>