<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<nav th:replace="~{fragments/nav :: nav}"></nav>

<div id="layoutSidenav">
    <div th:replace="~{fragments/sideNav :: sideNav}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container px-4">
                <!-- Contents -->

                <div class="flex text-center">
                    <h1 class="mt-3">Joshua ACS</h1>
                    <p class="mt-5">Joshua Attendance Check System(ACS) 는 출석 체크를 관리하는 웹 어플리케이션으로 1인 개발로 진행된 토이
                        프로젝트입니다.</p>
                    <p class="mt-3">한 집단에 속해 활동을 하다보면 다양한 이유로 해당 집단의 출석 인원을 파악해야 할 때가 있습니다.<br>이러한 출석을 서면으로 관리하지않고 웹 상에서
                        간편히 저장하고 관리할 수
                        있도록 만든 출석 체크 시스템 입니다.</p>
                    <p>Joshua ACS는 조를 생성하고 회원을 추가하여 출석을 관리할 수 있습니다.<br>각 목록에서 조와 회원의 정보를 보고 관리할 수 있으며 추가로 회의록 이미지 파일을
                        업로드하고 다운받을 수 있습니다.</p>
                </div>


                <!-- Contents -->
            </div>
        </main>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
</div>

</body>
</html>