<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>

<body>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<div id="layoutSidenav">
    <div th:replace="~{fragments/sideNav :: sideNav}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <!-- Contents -->

                <h1 class="mt-4">출석 체크 목록</h1>

                <div class="card mb-4">
                    <div class="card-body">
                        출석체크 목록 테이블 입니다.
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        출석 체크 테이블
                    </div>

                    <div class="card-body text-center">
                        <table id="dataTables">
                            <thead>
                            <tr>
                                <th>날짜</th>
                                <th>출석인원</th>
                                <th style="min-width: 60px">총인원</th>
                                <th style="min-width: 45px" data-sortable="false">관리</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>날짜</th>
                                <th>출석인원</th>
                                <th>총인원</th>
                                <th data-sortable="false">관리</th>
                            </tr>
                            </tfoot>
                            <!--여기에 출석 리스트를 표시 -->
                            <!--<th:block th:each="ats :${atsDTO}">-->
                            <tbody>
                            <tr th:each="ats :${atsDTO}">
                                <td th:text="${#temporals.format(ats.datetime, 'yyyy-MM-dd HH:mm:ss')}">날짜</td>
                                <td>
                                    <div class="row row-cols-auto">
                                        <th:block th:each="list :${attendanceList}"
                                                  th:if="${list.attendance_date == ats.datetime}">
                                            <div class="col" th:text="${list.member.name}"></div>
                                        </th:block>
                                    </div>
                                </td>
                                <td th:text="${ats.count}">총인원</td>
                                <td>
                                    <!--수정, 삭제 드롭다운 버튼-->
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle text-black" data-bs-toggle="dropdown"
                                           aria-expanded="false"><i class="bi bi-three-dots"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" id="editDropdown"
                                                   th:href="@{/attendances/{attendanceDate}/edit (attendanceDate=${ats.datetime})}">
                                                수정</a>
                                            </li>
                                            <li><a class="dropdown-item" data-bs-toggle="modal" id="deleteDropdown"
                                                   href="/#"
                                                   data-bs-target="#deleteModal"
                                                   th:attr="onclick='setDate(\'' + ${ats.datetime} + '\')'">
                                                삭제</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="deleteModal" tabindex="-1"
                                         aria-labelledby="deleteModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="deleteModalLabel">출석 삭제</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    해당 출석을 삭제하시겠습니까?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">닫기
                                                    </button>
                                                    <button type="button" class="btn btn-outline-danger"
                                                            th:onclick="'javascript:deleteAttendance()'">삭제
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <!--</th:block>-->
                        </table>
                    </div>
                </div>

                <!-- Contents -->
            </div>
        </main>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
        <script>
            document.querySelector('div.datatable-top .datatable-dropdown label').innerText = "~~~";
            document.querySelector('td.datatable-empty').innerText = "~~~";

        </script>
    </div>
</div>

<script>
    let attendanceDate;

    function test() {
        alert(attendanceDate);
    }

    function setDate(date) {
        attendanceDate = date;
    }

    function deleteAttendance() {
        let form = document.createElement('form');
        form.setAttribute("method", "post");
        form.setAttribute("action", "/attendances/" + attendanceDate + "/delete");
        document.body.appendChild(form);
        form.submit();
    }
</script>

</body>
</html>