<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>

<body>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<div class="container">

    <!--여기에 출석 리스트를 표시 -->
    <section>

        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th>날짜</th>
                <th>출석인원</th>
                <th>총 인원</th>
            </tr>
            </thead>
            <th:block th:each="ats :${atsDTO}">
<!--            <th:block th:each="date, count :${attendanceDateList}">-->
                <tbody>
                <tr>
                    <td th:text="${#temporals.format(ats.datetime, 'yyyy-MM-dd HH:mm:ss')}">날짜</td>
                    <td>
                        <div class="row row-cols-auto">
                            <th:block th:each="list :${attendanceList}" th:if="${list.attendance_date == ats.datetime}">
                                <div class="col" th:text="${list.member.name}"></div>
                            </th:block>
                        </div>
                    </td>

                    <td th:text="${ats.count}">총 인원</td>

                </tr>
                </tbody>
            </th:block>
        </table>


    </section>


    <br/>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->

</body>
</html>