<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>

<body>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<div id="layoutSidenav">
    <div th:replace="~{fragments/sideNav :: sideNav}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <!-- Contents -->

                <h1 class="mt-4">출석 체크 수정</h1>

                <div class="card mt-3 mb-4">
                    <div class="card-body">
                        출석체크 수정 화면입니다.
                    </div>
                </div>

                <!--여기에 출석 리스트를 표시 -->
                <p>출석인원</p>
                <form class="mb-5" role="form" th:object="${attendanceForm}" method="post">
                    <th:block th:each="group: ${groups}">
                        <div class="card mb-3">
                            <div class="card-header">
                                <p class="mt-2" th:text="${group.group_name}">조이름</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div th:each="member: ${members}"
                                             th:if="${member.group.group_name == group.group_name}"
                                             class="form-check form-check-inline">
                                            <input type="checkbox" th:field="*{memberIds}" th:value="${member.id}"
                                                   class="form-check-input">
                                            <label th:for="${#ids.prev('memberIds')}" class="form-check-label"
                                                   th:text="${member.name}">이름</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    <button type="submit" class="btn btn-primary mt-3">저장</button>
                </form>
                <!-- Contents -->
            </div>
        </main>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
</div>

</body>
</html>