<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<div class="container">
    <p>출석인원</p>
    <form role="form" th:object="${attendanceForm}" method="post">
        <th:block th:each="group: ${groups}">
            <p class="mt-3" th:text="${group.group_name}">조이름</p>
            <div class="row">
                <div class="col">
                    <div th:each="member: ${members}" th:if="${member.group.group_name == group.group_name}"
                         class="form-check form-check-inline">
                        <input type="checkbox" th:field="*{memberIds}" th:value="${member.id}" class="form-check-input" >
                        <label th:for="${#ids.prev('memberIds')}" class="form-check-label"
                               th:text="${member.name}">이름</label>
                    </div>
                </div>
            </div>
        </th:block>
        <button type="submit" class="btn btn-primary mt-3">저장</button>
    </form>
    <br/>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->
</body>
</html>