<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.joshua.acs.mapper.AttendanceMapper">

    <!--매핑시키는 AttendanceMapper 인터페이스의 메소드 명과 id 명이 일치해야 한다.-->

<!--    <select id="getList" resultType="myomu.bulletinboard.domain.Board">-->
<!--        SELECT-->
<!--            *-->
<!--        FROM tbl_board-->
<!--    </select>-->

<!--    <select id="getBoard" parameterType="Long" resultType="myomu.bulletinboard.domain.Board">-->
<!--        SELECT-->
<!--            *-->
<!--        FROM tbl_board where boardId=#{boardId};-->
<!--    </select>-->

    <select id="getMemberList" resultType="site.joshua.acs.domain.Member">
        SELECT * FROM member
    </select>


    <insert id="uploadAttendance" parameterType="site.joshua.acs.domain.Attendance">
        INSERT INTO attendance (title, content, name)
        VALUES
            (#{title}, #{content}, #{name});
    </insert>

    <update id="updateAttendance" parameterType="site.joshua.acs.domain.Attendance">
        UPDATE tbl_board
        SET title=#{title}, content=#{content}
        WHERE boardId=#{boardId};
    </update>

    <delete id="deleteAttendance" parameterType="Long">
        DELETE
        FROM tbl_board
        WHERE boardId=#{boardId};
    </delete>

<!--    values의 #{여기 들어가는 변수명은 실제 연결된 html 파일의 TagName을 넣어준다.}-->
    <insert id="addMember" parameterType="site.joshua.acs.domain.Member">
        INSERT INTO member (name, age, groupname, gender)
        VALUES (#{name}, #{age}, #{groupName}, #{gender});
    </insert>

</mapper>